<!--我的，设置-->
<div class="list">
    <div class="item mu-subHeader">
        <img src="{{imgPath+myselfImg}}">
        <p>神猫题库</p>
    </div>
    <a class="item item-icon-left item-icon-right" href="#/tabs/topicType">
        <i class="icon ion-social-angular-outline color-red"></i>
        题库类型
        <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="show()">
                <i class="icon ion-share color-green"></i>
                分享给朋友
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="opinionAdd()">
                <i class="icon ion-ios-paper-outline color-yellow"></i>
                意见反馈
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tabs/install">
                <i class="icon ion-ios-gear-outline color-blue"></i>
                设置
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="showConfirm()">
                <i class="icon ion-android-exit color-darkred"></i>
                退出
                <i class="icon ion-ios-arrow-right"></i>
            </a>
</div>